<div *ngIf="viewMode; else editable">
  <div *ngIf="currentProduct.id">
    <h4>Product</h4>
    <div>
      <label><strong>Productname:</strong></label> {{ currentProduct.productname }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentProduct.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentProduct.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/products/{{ currentProduct.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentProduct">
    <br />
    <p>Please click on a Product...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProduct.id" class="edit-form">
    <h4>Product</h4>
    <form>
      <div class="form-group">
        <label for="productname">Productname</label>
        <input
          type="text"
          class="form-control"
          id="productname"
          [(ngModel)]="currentProduct.productname"
          name="productname"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentProduct.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentProduct.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentProduct.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentProduct.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteProduct()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProduct()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProduct.id">
    <br />
    <p>Cannot access this Product...</p>
  </div>
</ng-template>
